:root {
  --pc-logoVpt-w: 8.958vw;
  --pc-logoVpt-h: 4.323vw;
  --pc-menuItem-color: #000000;
  --pc-menuItem-color--highlight: #e32b00;
  --pc-menuItem-fontSize: 1.389vw; /*1.2vw - 20pt - 1.389vw */
  --pc-menuItem-color--hover: #ff6108;
  --pc-menuItem-color--highlight--hover: red;
  --mb-logoVpt-w: 17.333vw;
  --mb-logoVpt-h: 17.333vw;
  --mb-bg-header: url("../../images/frame1/mb-bg-header.png");
  --mb-bg-collapse-header: url("../../images/frame1/mb-bg-collapse-header.png");
  --mb-button-header-color: #ffffff;
  --mb-button-header-bgcolor: #cb3a39;
  --mb-collapse-header-h: 101.467vw;
  --mb-dart-header-w: 2.667vw;
  --mb-dart-header-h: 2.667vw;
  --mb-header-menu-image-w: 50.4vw;
  --mb-header-menu-image-h: 92.667vw;
  --pc-comming-soon-w: 10.26vw;
  --pc-comming-soon-h: 5.99vw;
  --mb-comming-soon-w: 26.267vw;
  --mb-comming-soon-h: 15.333vw;
  --pc-fire-ball-w: 9.219vw;
  --pc-fire-ball-h: 9.115vw;
  --pc-img-video-w: 2.708vw;
  --pc-img-video-h: 2.708vw;
  --mb-img-video-w: 6.933vw;
  --mb-img-video-h: 6.933vw;
  --pc-img-sologan-w: 26.354vw;
  --pc-img-sologan-h: 8.906vw;
  --mb-img-sologan-w: 67.467vw;
  --mb-img-sologan-h: 22.8vw;
  --pc-bg-sologan-w: 39.063vw;
  --pc-bg-sologan-h: 4.688vw;
  --mb-bg-sologan-w: 100vw;
  --mb-bg-sologan-h: 12vw;
  --pc-bg-register: url("../../images/frame1/pc-bg-register.png");
  --pc-bg-register-w: 32.083vw;
  --pc-bg-register-h: 7.031vw;
  --mb-bg-register-w: 82.133vw;
  --mb-bg-register-h: 18vw;
  --pc-icon-vpt-w: 5.938vw;
  --pc-icon-vpt-h: 5.938vw;
  --mb-icon-vpt-w: 15.2vw;
  --mb-icon-vpt-h: 15.2vw;
  --pc-icon-ios-w: 1.25vw;
  --pc-icon-ios-h: 1.563vw;
  --mb-icon-ios-w: 3.2vw;
  --mb-icon-ios-h: 4vw;
  --pc-icon-android-w: 1.563vw;
  --pc-icon-android-h: 1.667vw;
  --mb-icon-android-w: 4vw;
  --mb-icon-android-h: 4.267vw;
  --pc-img-giftcode-w: 2.292vw;
  --pc-img-giftcode-h: 2.292vw;
  --mb-img-giftcode-w: 5.867vw;
  --mb-img-giftcode-h: 5.867vw;
  --pc-bg-giftcode-w: 6.25vw;
  --pc-bg-giftcode-h: 6.302vw;
  --mb-bg-giftcode-w: 16vw;
  --mb-bg-giftcode-h: 16.133vw;
  --pc-bg-giftcode: url("../../images/frame1/pc-bg-giftcode.png");
  --pc-bg-menu-treo: url("../../images/frame1/pc-bg-menu-treo.png");
  --pc-bg-menu-treo-w: 16.458vw;
  --pc-bg-menu-treo-h: 29.375vw;
  --pc-bg-download-game: url("../../images/frame1/pc-bg-button-downloadgame.png");
  --pc-bg-download-game-w: 10.573vw;
  --pc-bg-download-game-h: 5.677vw;
  --pc-icon-download-game-w: 1.25vw;
  --pc-icon-download-game-h: ;
  --pc-bg-button-treo: url("../../images/frame1/pc-bg-button-treo.png");
  --pc-bg-button-treo-w: 10.573vw;
  --pc-bg-button-treo-h: 2.344vw;
  --pc-color-button-treo: #841816;
  --pc-icon-top-w: 0.885vw;
  --pc-icon-top-h: 0.469vw;
  --pc-icon-arrow-w: 5.469vw;
  --pc-icon-arrow-h: 5vw;

  --pc-img-hero-w: 31.458vw;
  --pc-img-hero-h: 47.917vw;
  --pc-img-lightning-w: 22.76vw;
  --pc-img-lightning-h: 37.865vw;
  --pc-img-witch-w: 17.5vw;
  --pc-img-witch-h: 14.583vw;
  --pc-img-tornado-w: 16.875vw;
  --pc-img-tornado-h: 19.01vw;
  --pc-bg-frame-joined-classroom: url("../../images/frame2/pc-frame-joined-classroom.png");
  --pc-bg-frame-joined-classroom-w: 36.771vw;
  --pc-bg-frame-joined-classroom-h: 7.24vw;
  --mb-bg-frame-joined-classroom-w: 94.133vw;
  --mb-bg-frame-joined-classroom-h: 18.533vw;
  --pc-bg-text-joined-classroom: url("../../images/frame2/pc-bg-text-joined-classroom.png");
  --pc-bg-text-joined-classroom-w: 35.208vw;
  --pc-bg-text-joined-classroom-h: 5.833vw;
  --mb-bg-text-joined-classroom-w: 90.133vw;
  --mb-bg-text-joined-classroom-h: 14.933vw;
  --pc-bg-magician-item-w: 4.74vw;
  --pc-bg-magician-item-h: 10.469vw;
  --mb-bg-magician-item-w: 12.133vw;
  --mb-bg-magician-item-h: 26.8vw;
  --pc-bg-progress-w: 46.094vw;
  --pc-bg-progress-h: 0.208vw;
  --mb-bg-progress-w: 88vw;
  --mb-bg-progress-h: 0.533vw;
  --pc-img-fire-w: 1.875vw;
  --pc-img-fire-h: 4.271vw;
  --mb-img-fire-w: 4.8vw;
  --mb-img-fire-h: 10.933vw;
  --pc-img-endpoint-w: 6.667vw;
  --pc-img-endpoint-h: 5.573vw;
  --mb-img-endpoint-w: 9.2vw;
  --mb-img-endpoint-h: 14vw;

  --pc-img-angle-plus-w: 16.927vw;
  --pc-img-angle-plus-h: 17.656vw;
  --pc-img-angle-w: 13.125vw;
  --pc-img-angle-h: 13.333vw;
  --pc-bg-screen-slide-w: 49.948vw;
  --pc-bg-screen-slide-h: 29.896vw;
  --mb-bg-screen-slide-w: 100vw;
  --mb-bg-screen-slide-h: 76vw;
  --pc-img-screen-slide-item-w: 46.354vw;
  --pc-img-screen-slide-item-h: 27.24vw;
  --mb-img-screen-slide-item-w: 93.333vw;
  --mb-img-screen-slide-item-h: 69.333vw;
  --pc-img-haibara-w: 22.24vw;
  --pc-img-haibara-h: 42.135vw;
  --pc-bg-button-slide-w: 14.167vw;
  --pc-bg-button-slide-h: 5.99vw;
  --mb-bg-button-slide-w: 36.267vw;
  --mb-bg-button-slide-h: 18vw;
}
